switch/flows.json
[
    {
        "id": "78b294c9dbbf5952",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab16f25a757c1af3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#fffc41",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "059652470bcecbd0",
        "type": "ui_tab",
        "name": "Switch",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c12ad26221494ae8",
        "type": "ui_group",
        "name": "Switch",
        "tab": "059652470bcecbd0",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "645bc366ceafa6a6",
        "type": "debug",
        "z": "78b294c9dbbf5952",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "03e806b461e5a1fe",
        "type": "ui_switch",
        "z": "78b294c9dbbf5952",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "c12ad26221494ae8",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "piu-switch-power",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "fe06eca4c15e5527"
            ]
        ]
    },
    {
        "id": "4fcb77214e7515a3",
        "type": "ui_colour_picker",
        "z": "78b294c9dbbf5952",
        "name": "",
        "label": "Color",
        "group": "c12ad26221494ae8",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 2,
        "width": "6",
        "height": "4",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "piu-color-wheel",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "a7219058ad5efa76"
            ]
        ]
    },
    {
        "id": "69e7ae4074696618",
        "type": "ui_slider",
        "z": "78b294c9dbbf5952",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "c12ad26221494ae8",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "piu-slider-brightness",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "bb55938d79ed5599"
            ]
        ]
    },
    {
        "id": "bb55938d79ed5599",
        "type": "function",
        "z": "78b294c9dbbf5952",
        "name": "function 1",
        "func": "msg.payload = { brightness:msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 100,
        "wires": [
            [
                "645bc366ceafa6a6"
            ]
        ]
    },
    {
        "id": "fe06eca4c15e5527",
        "type": "function",
        "z": "78b294c9dbbf5952",
        "name": "function 2",
        "func": "msg.payload = { power: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "645bc366ceafa6a6"
            ]
        ]
    },
    {
        "id": "a7219058ad5efa76",
        "type": "function",
        "z": "78b294c9dbbf5952",
        "name": "function 3",
        "func": "msg.payload = { color:msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "645bc366ceafa6a6"
            ]
        ]
    },
    {
        "id": "3e1a58a509f3011d",
        "type": "inject",
        "z": "78b294c9dbbf5952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"power\":true,\"brightness\":128,\"color\":{\"r\":0,\"g\":0,\"b\":255}}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "bc9d5c2a49d7baa3",
                "5b3cb7c77b84c424",
                "71c6daa7c821571e"
            ]
        ]
    },
    {
        "id": "bc9d5c2a49d7baa3",
        "type": "change",
        "z": "78b294c9dbbf5952",
        "name": "power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.power",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "03e806b461e5a1fe"
            ]
        ]
    },
    {
        "id": "5b3cb7c77b84c424",
        "type": "change",
        "z": "78b294c9dbbf5952",
        "name": "brightness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.brightness",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "69e7ae4074696618"
            ]
        ]
    },
    {
        "id": "71c6daa7c821571e",
        "type": "change",
        "z": "78b294c9dbbf5952",
        "name": "color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.color",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "4fcb77214e7515a3"
            ]
        ]
    }
]