examples/dashboard/weather/flows.json
[
    {
        "id": "9c48a93517202288",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab16f25a757c1af3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#fffc41",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f7e0493752f832d2",
        "type": "ui_group",
        "name": "Weather",
        "tab": "0c757ed72ea6be1c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c757ed72ea6be1c",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3403a3249a2ab867",
        "type": "openweathermap",
        "z": "9c48a93517202288",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "2aeef9be9b69b20f",
                "b6b5811bd41331b5",
                "d7eca73d6cf9f2e8"
            ]
        ]
    },
    {
        "id": "98669820fb07f988",
        "type": "ui_text",
        "z": "9c48a93517202288",
        "group": "f7e0493752f832d2",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "City",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "piu-text-city",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "b6b5811bd41331b5",
        "type": "ui_text",
        "z": "9c48a93517202288",
        "group": "f7e0493752f832d2",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Name",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-center",
        "className": "piu-text-weather",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "1854be2db7779ebb",
        "type": "ui_text",
        "z": "9c48a93517202288",
        "group": "f7e0493752f832d2",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "Temperature",
        "label": "",
        "format": "{{msg.payload.tempc}}°C",
        "layout": "row-center",
        "className": "piu-text-temperature",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "2aeef9be9b69b20f",
        "type": "function",
        "z": "9c48a93517202288",
        "name": "prepare",
        "func": "msg.payload = \"wi-owm-\" + msg.payload.icon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "b26bc0251e20efef"
            ]
        ]
    },
    {
        "id": "9002c3190e74cc27",
        "type": "function",
        "z": "9c48a93517202288",
        "name": "select",
        "func": "let locations = [\n    { city: \"Brussels\", country: \"Belgium\" },\n    { city: \"New York\", country: \"New York\" },\n    { city: \"Paris\", country: \"France\" },\n    { city: \"San Francisco\", country: \"California\" },\n    { city: \"Tokyo\", country: \"Japan\" },\n];\nlet index = globalThis.weatherIndex;\nif ((index == undefined) || (index == (locations.length - 1)))\n    index = 0;\nelse\n    index++;\nglobalThis.weatherIndex = index;\nmsg.location = locations[index];\nmsg.payload = msg.location.city;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "3403a3249a2ab867",
                "98669820fb07f988"
            ]
        ]
    },
    {
        "id": "fdd6a5e06db1efa1",
        "type": "inject",
        "z": "9c48a93517202288",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9002c3190e74cc27"
            ]
        ]
    },
    {
        "id": "b26bc0251e20efef",
        "type": "ui_template",
        "z": "9c48a93517202288",
        "group": "f7e0493752f832d2",
        "name": "Icon",
        "order": 3,
        "width": "6",
        "height": "4",
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n    <i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "piu-template-weather",
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d7eca73d6cf9f2e8",
        "type": "function",
        "z": "9c48a93517202288",
        "name": "function 1",
        "func": "msg.payload.tempc = Math.round(msg.payload.tempc);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "1854be2db7779ebb"
            ]
        ]
    }
]