uitest/flows.json
[
    {
        "id": "43412a74034aa593",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d84dc02b185e4d4f",
        "type": "debug",
        "z": "43412a74034aa593",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "fe8fbb5b8a0e4a32",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "f99dbb54e09ec7c6",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hello",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hello",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "d84dc02b185e4d4f"
            ]
        ]
    },
    {
        "id": "32fdf6d1acc39c2d",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "81d8722f9f3c6658",
        "order": 1,
        "width": "1",
        "height": "3",
        "passthru": false,
        "label": "L",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LEFT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "15c0042040e53a6d"
            ]
        ]
    },
    {
        "id": "ea6e373436c129ca",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e88e8adc86c0f598",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hello",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hello",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "15c0042040e53a6d"
            ]
        ]
    },
    {
        "id": "15c0042040e53a6d",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "81d8722f9f3c6658",
        "order": 4,
        "width": "4",
        "height": "2",
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "526da87ec2a0c759",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "81d8722f9f3c6658",
        "order": 3,
        "width": "1",
        "height": "3",
        "passthru": false,
        "label": "R",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RIGHT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "15c0042040e53a6d"
            ]
        ]
    },
    {
        "id": "b64d7331af94f704",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "81d8722f9f3c6658",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "CENTER",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CENTER",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "15c0042040e53a6d"
            ]
        ]
    },
    {
        "id": "a2ca615bf6713440",
        "type": "ui_dropdown",
        "z": "43412a74034aa593",
        "name": "",
        "label": "Test",
        "tooltip": "",
        "place": "Select option",
        "group": "f99dbb54e09ec7c6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Zero",
                "value": 0,
                "type": "num"
            },
            {
                "label": "One",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Two",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Three",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "e83b955c3883dc84"
            ]
        ]
    },
    {
        "id": "b6b1de17b243aa22",
        "type": "ui_dropdown",
        "z": "43412a74034aa593",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "?",
        "group": "f99dbb54e09ec7c6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Zero",
                "value": 0,
                "type": "num"
            },
            {
                "label": "One",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Two",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Three",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "e83b955c3883dc84"
            ]
        ]
    },
    {
        "id": "e83b955c3883dc84",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "f99dbb54e09ec7c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "f39a8b444ab12f1c",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e88e8adc86c0f598",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "World",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "World",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "15c0042040e53a6d"
            ]
        ]
    },
    {
        "id": "0455bfa8981e88d2",
        "type": "ui_spacer",
        "z": "43412a74034aa593",
        "name": "spacer",
        "group": "e88e8adc86c0f598",
        "order": 2,
        "width": "2",
        "height": "3"
    },
    {
        "id": "f99dbb54e09ec7c6",
        "type": "ui_group",
        "name": "Group",
        "tab": "954946ab8c989af5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81d8722f9f3c6658",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "f42f9cdea4891a2e",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e88e8adc86c0f598",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f42f9cdea4891a2e",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "954946ab8c989af5",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f42f9cdea4891a2e",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]