uitest/flows.json
[
    {
        "id": "43412a74034aa593",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab16f25a757c1af3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#fffc41",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f99dbb54e09ec7c6",
        "type": "ui_group",
        "name": "Integer",
        "tab": "954946ab8c989af5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "954946ab8c989af5",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f42f9cdea4891a2e",
        "type": "ui_tab",
        "name": "Layouts",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81d8722f9f3c6658",
        "type": "ui_group",
        "name": "Donut",
        "tab": "306de0316587af0a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e88e8adc86c0f598",
        "type": "ui_group",
        "name": "Spacer",
        "tab": "f42f9cdea4891a2e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0455bfa8981e88d2",
        "type": "ui_spacer",
        "z": "43412a74034aa593",
        "name": "spacer",
        "group": "e88e8adc86c0f598",
        "order": 6,
        "width": "4",
        "height": "1"
    },
    {
        "id": "306de0316587af0a",
        "type": "ui_tab",
        "name": "Gauges",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6a674dd257ebd8d0",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "306de0316587af0a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "82ae5262e98d7428",
        "type": "ui_group",
        "name": "Boolean",
        "tab": "954946ab8c989af5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "56f3842c7afca186",
        "type": "ui_group",
        "name": "Text",
        "tab": "f42f9cdea4891a2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2e9e3c618f91f286",
        "type": "ui_spacer",
        "z": "43412a74034aa593",
        "name": "spacer",
        "group": "e88e8adc86c0f598",
        "order": 3,
        "width": "2",
        "height": "1"
    },
    {
        "id": "cd53bf9d39df0a3f",
        "type": "ui_spacer",
        "z": "43412a74034aa593",
        "name": "spacer",
        "group": "e88e8adc86c0f598",
        "order": 5,
        "width": "2",
        "height": "1"
    },
    {
        "id": "e8936bb877900c76",
        "type": "ui_spacer",
        "z": "43412a74034aa593",
        "name": "spacer",
        "group": "e88e8adc86c0f598",
        "order": 2,
        "width": "4",
        "height": "1"
    },
    {
        "id": "e3d6a0f344ade5e1",
        "type": "ui_group",
        "name": "Compass",
        "tab": "306de0316587af0a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0f91633c3df0fa3b",
        "type": "ui_tab",
        "name": "Pickers",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f597939be20f38d",
        "type": "ui_group",
        "name": "Pickers",
        "tab": "0f91633c3df0fa3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8c5dbcd8d3085a8",
        "type": "ui_tab",
        "name": "Notifications",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2cf4533444e654ce",
        "type": "ui_group",
        "name": "Notifications",
        "tab": "e8c5dbcd8d3085a8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d84dc02b185e4d4f",
        "type": "debug",
        "z": "43412a74034aa593",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe8fbb5b8a0e4a32",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "82ae5262e98d7428",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "false",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "df4e01a9c747b679"
            ]
        ]
    },
    {
        "id": "32fdf6d1acc39c2d",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e88e8adc86c0f598",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "left",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "LEFT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "d84dc02b185e4d4f"
            ]
        ]
    },
    {
        "id": "526da87ec2a0c759",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e88e8adc86c0f598",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "right",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "RIGHT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "d84dc02b185e4d4f",
                "b64d7331af94f704"
            ]
        ]
    },
    {
        "id": "b64d7331af94f704",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e88e8adc86c0f598",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "center",
        "tooltip": "",
        "color": "green",
        "bgcolor": "#CCCCCC",
        "className": "",
        "icon": "",
        "payload": "CENTER",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "32fdf6d1acc39c2d",
                "d84dc02b185e4d4f"
            ]
        ]
    },
    {
        "id": "b6b1de17b243aa22",
        "type": "ui_dropdown",
        "z": "43412a74034aa593",
        "name": "",
        "label": "dropdown",
        "tooltip": "",
        "place": "Select...",
        "group": "f99dbb54e09ec7c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Zero",
                "value": 0,
                "type": "num"
            },
            {
                "label": "One",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Two",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Three",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "efe90ffd9eb54e38"
            ]
        ]
    },
    {
        "id": "e83b955c3883dc84",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "f99dbb54e09ec7c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "efe90ffd9eb54e38",
        "type": "ui_slider",
        "z": "43412a74034aa593",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "f99dbb54e09ec7c6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "dee604704ce8e8d9"
            ]
        ]
    },
    {
        "id": "df4e01a9c747b679",
        "type": "ui_switch",
        "z": "43412a74034aa593",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "82ae5262e98d7428",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "e8a9a6900d828e54"
            ]
        ]
    },
    {
        "id": "e8a9a6900d828e54",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "82ae5262e98d7428",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "dee604704ce8e8d9",
        "type": "ui_numeric",
        "z": "43412a74034aa593",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "f99dbb54e09ec7c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "e83b955c3883dc84",
                "b6b1de17b243aa22"
            ]
        ]
    },
    {
        "id": "09456e6218aaa63c",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "82ae5262e98d7428",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "true",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "df4e01a9c747b679"
            ]
        ]
    },
    {
        "id": "d235307c53ea4ba6",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "56f3842c7afca186",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "left",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd516d175c0283bd",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "56f3842c7afca186",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "spread",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "23c3b362d619a435",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "56f3842c7afca186",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "center",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "e26425811a9af845",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "56f3842c7afca186",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "right",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "bd9d06bbb11cbf29",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "56f3842c7afca186",
        "order": 4,
        "width": "2",
        "height": "3",
        "name": "",
        "label": "column",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "f2baf92426351779",
        "type": "ui_slider",
        "z": "43412a74034aa593",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "56f3842c7afca186",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "100",
        "className": "",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "dd516d175c0283bd",
                "23c3b362d619a435",
                "e26425811a9af845",
                "bd9d06bbb11cbf29",
                "d235307c53ea4ba6"
            ]
        ]
    },
    {
        "id": "9bf7b72cb1d34dc9",
        "type": "ui_gauge",
        "z": "43412a74034aa593",
        "name": "",
        "group": "6a674dd257ebd8d0",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "1664d3b9f7a61920",
        "type": "ui_slider",
        "z": "43412a74034aa593",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "6a674dd257ebd8d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "9bf7b72cb1d34dc9"
            ]
        ]
    },
    {
        "id": "c97c0d259dca8070",
        "type": "ui_gauge",
        "z": "43412a74034aa593",
        "name": "",
        "group": "81d8722f9f3c6658",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "sectors",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "8",
        "className": "",
        "x": 400,
        "y": 820,
        "wires": []
    },
    {
        "id": "f46fcfd7c53d70ea",
        "type": "ui_slider",
        "z": "43412a74034aa593",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "81d8722f9f3c6658",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 210,
        "y": 820,
        "wires": [
            [
                "c97c0d259dca8070"
            ]
        ]
    },
    {
        "id": "02d7202d39793d28",
        "type": "ui_gauge",
        "z": "43412a74034aa593",
        "name": "",
        "group": "e3d6a0f344ade5e1",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "8",
        "className": "",
        "x": 400,
        "y": 900,
        "wires": []
    },
    {
        "id": "b69b3d820e193990",
        "type": "ui_slider",
        "z": "43412a74034aa593",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "e3d6a0f344ade5e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 210,
        "y": 900,
        "wires": [
            [
                "02d7202d39793d28"
            ]
        ]
    },
    {
        "id": "b43c4f00676e9c38",
        "type": "ui_colour_picker",
        "z": "43412a74034aa593",
        "name": "",
        "label": "color",
        "group": "8f597939be20f38d",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": true,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "e6b3275157ecdabe"
            ]
        ]
    },
    {
        "id": "e6b3275157ecdabe",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "8f597939be20f38d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b18295fdb8bc41c7",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "top left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "This is a top left notification with some text.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 1340,
        "wires": [
            [
                "34acfd1e1b90877f"
            ]
        ]
    },
    {
        "id": "34acfd1e1b90877f",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 1340,
        "wires": []
    },
    {
        "id": "88ad724f72310c6a",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "top right",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "This is a top right notification with some text and a red border.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 1380,
        "wires": [
            [
                "649ec0a03fcd0518"
            ]
        ]
    },
    {
        "id": "649ec0a03fcd0518",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 1380,
        "wires": []
    },
    {
        "id": "17d61cedd9422e62",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 1420,
        "wires": []
    },
    {
        "id": "09cdf1d431a58fee",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "bottom right",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "This is a bottom right notification with some text and a green border.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1420,
        "wires": [
            [
                "17d61cedd9422e62"
            ]
        ]
    },
    {
        "id": "1154c5e44abf8453",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 1460,
        "wires": []
    },
    {
        "id": "2f9641c36f669973",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "bottom left",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "This is a bottom left notification with some text and a blue border.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1460,
        "wires": [
            [
                "1154c5e44abf8453"
            ]
        ]
    },
    {
        "id": "0110d652639a06b2",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "one",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "This is a dialog with some text and one button.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "776e7d3296b1a588"
            ]
        ]
    },
    {
        "id": "776e7d3296b1a588",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "98beeb70c8234f2c"
            ]
        ]
    },
    {
        "id": "63e7c315b221df91",
        "type": "ui_button",
        "z": "43412a74034aa593",
        "name": "",
        "group": "2cf4533444e654ce",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "two",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "This is a dialog with some text and two buttons.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1540,
        "wires": [
            [
                "b9dc9d88889bb10e"
            ]
        ]
    },
    {
        "id": "b9dc9d88889bb10e",
        "type": "ui_toast",
        "z": "43412a74034aa593",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "YES",
        "cancel": "NO",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "98beeb70c8234f2c"
            ]
        ]
    },
    {
        "id": "98beeb70c8234f2c",
        "type": "ui_text",
        "z": "43412a74034aa593",
        "group": "2cf4533444e654ce",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 1520,
        "wires": []
    }
]